.descriptionbox {
  margin: 120px 170px;
}
.descriptionbox-navigator {
  display: flex;
}
.descriptionbox-nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 171px;
  height: 70px;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-right: 10px;
}
.descriptionbox-nav-box.fade{
    background: #FBFBFB;
    color: #555;
}
.descriptionbox-nav-box.active {
  background-color: #4b0082;
  color: #fff;
  font-weight: bold;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 48px;
    padding-bottom: 70px;
}
.descriptionbox-content {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
@media(max-width:1280px)
{
    .descriptionbox{
        margin: 60px;
    }
}
@media(max-width:800px)
{
    .descriptionbox{
        margin: 60px 20px;
    }
    .descriptionbox-description{
        font-size: 14px;
    }
}